.light-mode {
  background-color: white;
  
  color: black;
}
.dark-mode {
  background-color: black;
  height: 100vh;
  color: white;
}
.App-header {
  text-align: center;
}
button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
button:hover {
  background-color: #3700b3;
}
